@import './styles/variables.scss';

.demandingCategories {
    background-color: $lightYellow;
    padding: 100px 0px 100px 0px;
}

.categoriesText {
    display: flex;
    justify-content: space-between;
    .categoriesLeft,
    .categoriesRight {
        margin-top: 70px;

        a {
            border-bottom: 1px solid $appleGreen;
            color: $appleGreen;
            line-height: 23px;
        }
    }
    
}

.categoriesLeft {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;

    h3 {
        margin-top: 0px;
        font-size: 3.6rem;
        color: $darkGreen;
    }

    img {
        position: absolute;
        right: 140px;
        top: -30px;
    }
    
}

.categoriesRight {
    width: 42.75%;
}

.categoriesLinks ul{
    display: flex;
    justify-content: space-between;
    
    li {
        background-color: white;
        border-radius: 60px;
        text-align: center;
        display: flex;
        gap: 10px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 35px;
            border-radius: 60px;

            &:hover,
            &:focus {
                background-color: $limeGreen;
            }

            h4 {
                color: $black;
                font-size: 0.9rem;
            }

            p {
                color: $appleGreen;
                font-size: 0.7rem;
            }
        }

    }
}
