@import './styles/variables.scss';

.collaboration {
    display: flex;
    padding: 100px 0px;
    align-items: center;
}

.animation {
    width: 50%;
}

.collaborationText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}