@import './styles/variables.scss';

.footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
}

.footerLists {
    display: flex;

    ul {
        display: flex;
        flex-direction: column;
    }
}

.footerMiddleFlex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
