@import './styles/variables.scss';

.guides {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.guidePosts ul {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    
    li {
        width: calc((100% / 3) - 30px);
        // img 400x260
    }
}