@import './styles/variables.scss';

header {
    background-color: #254135;
    height: 100vh;
    
    p {
        color: white;
    }
}

h1 {
    color: white;
    text-align: left;
    font-size: 4.5rem;
    
    .headingSpan1 {
        color: $limeGreen;
    }
    .headingSpan2 {
        color: $appleGreen;
    }
}

.headerContent {
    display: flex;
    justify-content: space-between;
}

.headerLeft,
.headerRight {
    width: 100%;
}

.headerRight {
    position: relative;
}

.headerRectangleContainer {
    position: relative;
    max-height: 745px;
    max-width: 650px;
    overflow: hidden;
    top: 67px;
    left: 60px;
    
    .headerRectangle {
        width: 100%;
        height: 100%;
    }
}

.headerImageContainer {
    position: absolute;
    height: 770px;
    width: 650px;
    overflow: hidden;
    top: 110px;
    left: 110px;
    
    .headerImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.headerContentleft {
    position: relative;
}

.headerSearch {
    position: absolute;
    width: 51.5%;
    z-index: 1;
}


.faded {
    color: $grey;
}
