header {
    background-color: #254135;
    
    p {
        color: white;
    }
}

h1 {
    color: white;
    text-align: left;
    
    .headingSpan1 {
        color: #D2F34C;
    }
    .headingSpan2 {
        color: #A0B646;
    }
}