@import './styles/variables.scss';

.talentSection,
.reviewSection {
    display: flex;
    flex-direction: column;

}
.talentTitle,
.reviewTitle {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    h2 {
        max-width: 50%;
    }

}

.talentButtons,
.reviewButtons {
    margin-bottom: 74.7px;
    display: flex;
    gap: 20px;

    button {
        background-color: white;
        border: none;
        font-size: 1.5rem;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus {
            background-color: $limeGreen;
        }
    }
}

.talentCarousel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.talentInner {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8.8%;
    max-width: 100%;
    white-space: nowrap;
}

.talentCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s;
    width: calc(100% / 4);
}
.talentImg {
    width: 280px;
    max-width: 280px;
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 150px;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.reviewCarousel {
    display: flex;
    justify-content: center;
    width: 100%;

    .reviewInner {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        max-width: 100%;
        white-space: nowrap;

        .reviewCard {
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: transform 0.5s;
            min-height: 550px;
            min-width: 740.5px;
            border-radius: 20px;
            padding: 30px;
            border: 2px solid green;
        }
    }

    .reviewInner > :nth-child(even) {
        background-color: #f9ffe1;
    }
    .reviewInner > :nth-child(odd) {
        background-color: $limeGreen;
    }
    
}
