nav {
    background-color: #254135;
    padding: 10px 0px;
}

.navFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLeft,
.navRight {
    display: flex;
    align-items: center;
}

.navLeft {
    gap: 30px;
}

.navLeft button {
    align-self: center;
    color: #D2F34C;
    border-radius: 15px;
    background-color: #31795A;
    border: none;
    padding: 4px 8px;
}

.logo {
    display: flex;
    gap: 8px;
}

.logo img {
    align-self: center;   
}

.logo h2 {
    color: white;
}

nav ul {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
}